
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section JavaScriptHeader
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#header-menu").hide();
        });
    </script>
}

<div class="callout-box-6a">
    <div class="row">
        <div class="span10">
            <div class="headline">
                <h3>Terms in use</h3>
            </div>
            <!-- end .headline -->
        </div>
    </div>
</div>
<div class="banner" style="width: 100%; overflow: hidden;">
    <img src="@Url.Content("/Content/images/index/terms-banner.png")" alt="" />
</div>
<div class="row">
    <div class="span8">
        <div class="row">
            <div class="span12">
                <div class="divider single-dotted"></div>
            </div>
            <!-- end .span12 -->
        </div>
        <!-- end .row -->
        <h4>Privacy Statement</h4>
        <p>Informatel is committed to the protection of personal privacy and has adopted a policy to protect information about individuals. This policy fully complies with the Privacy Amendment (Private Sector) Act 2000 and the privacy provisions of all applicable Australian legislation. </p>
        <h4>Disclaimer</h4>
        <p>To the extent permitted by law, Informatel excludes all:</p>
        <p>warranties, conditions and representations whether expressed, implied, statutory or otherwise, relating in any way to this web site, your use of this web site and the information, products and services supplied, offered to be supplied or advertised or accessed through this web site; and</p>
        <p>liability [including for negligence] to you or anyone else in respect of any loss or damage [including special, indirect or consequential loss or damage] costs and expenses suffered by you or claims made against you arising from or in connection with any use of the information, products or services supplied, offered to be supplied or advertised or accessed through this web site for any reason whatsoever [including negligence].</p>
        <p>In the event that terms, conditions or warranties are implied by law and cannot be excluded, then those terms and conditions or warranties are included however the liability of Informatel is limited at its option to one or more of the following:</p>
        <p>in the case of the supply of goods:</p>
        <ul>
            <li>the replacement of the goods or the supply of equivalent goods;</li>
            <li>the payment of the cost of replacement of the goods or the supply of equivalent goods; or</li>
            <li>the repair of the goods or payment of the cost of the repair of the goods; and</li>
        </ul>
        <br>
        <p>In the case of the services, supplying the services again or paying the cost of supplying the services again.</p>
        <h4>Contact Details</h4>
        <p>If you have any questions relating to the Privacy Policy please contact us at info@informatel.net. More information about Privacy laws and the National Privacy Principles is available from the Federal Privacy Commissioner at http://www.privacy.gov.au.</p>
        <br>
    </div>
    <!-- end .span8 -->
</div>
<!-- end .row -->
<br />


